
.param-button
{
    width: 170px;
    margin-left: 2.5%;
}
.myGrid
{
    width: 95%;
    height: 600px!important;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
.text-input-container
{
    /*margin: 0px;*/
    width: 32%;
}
.radioGroup
{
    margin: auto;
}
.input-dialog
{
    width: 1000px;
    height: 600px;
}
.input-holder
{
    height: 480px;
}
md-card
{
    width: 90%;
    margin: auto;
    height: 90%;
    max-height: 90%;
    min-height: 90%;
}

footer
{
    margin: auto;
}