.searchInputs, .results
{
    width: 50%;
    display: inline;
    align-content: center;
}

.searchInputs
{

}
.title
{
    text-align: center;
    width: 40%;
}
.mainWindow
{

}
.buttonContainer
{
    width: 95%;
    margin: auto;
}
.myGrid
{
    width: 95%;
    height: 700px!important;
    margin: auto;
}

footer
{

}