
.param-button
{
    width: 170px;
    margin-left: 2.5%;
}
.myGrid
{
    width: 95%;
    height: 600px!important;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
.text-input-container
{
    /*margin: 0px;*/
    width: 32%;
}
/*.dynamic-horse-crap
{
    margin-top: 5px;
}*/
md-datepicker
{
    margin-right: 10px;
}
.radioGroup
{
    margin: auto;
}
.keywords-list
{
    width: 48%;
}
.keyword-buttons
{
    margin-left: 15%;
}
.dynamic-input
{
    margin-left: 7.8%;
}
.type-container
{
    margin-bottom: 23px;
}
.keyword-container
{
    margin-bottom: 0px;
}
.input-dialog
{
    width: 1000px;
    height: 600px;
}
.tag-input
{
    width: 250px;
}
.insert-tag-dialog
{
    width: 1000px;
    height: 400px;
}
.input-holder
{
    height: 480px;
}
.tag-dropdown
{
    margin-left: 42px;
    display: inline;
}
md-card
{
    width: 90%;
    margin: auto;
    height: 90%;
    max-height: 90%;
    min-height: 90%;
}
md-checkbox
{
    margin: 5px;
}
.loading
{
    margin-left: 80%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
footer
{
    margin: auto;
}