<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Commentator</title>

	<!--Javascript Application Includes-->
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script type="application/javascript" src="ui-grid-3.2.9/ui-grid.min.js"></script>
	<script type="application/javascript" src="javascript/mainScript.js"></script>
    <script type="application/javascript" src="javascript/dialog.js"></script>

	<!--Bootstrap Stuff-->
	<script type="application/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />

	<!--Other styles-->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
	<link rel="styleSheet" href="ui-grid-3.2.9/ui-grid.min.css"/>
	<link rel="stylesheet" href="css/main.css" />
    <!--<base href="/diy_dfeist/" />-->
</head>
<body ng-app="discourse" ng-controller="searchController">
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a disabled="disabled" class="navbar-brand">The Commentator</a>
			</div>
			<ul class="nav navbar-nav">
                <!--<li><a href="#/">Home</a></li>
				<li><a href="#/search">Search</a></li>
				<li><a href="#/about">About</a></li>-->
			</ul>
		</div>
	</div>
    <!--pro hax-->
	<!--<div ng-view></div>-->
    <div class="buttonContainer">
        <button ng-click="editMain()">Edit Main Data</button>
        <button ng-click="editSpecialized()">Edit Specialized Data</button>
        <button ng-click="editNumerical()">Edit Numerical Data</button>
    </div>
    <br />
    <!--ui-grid shtuff-->
    <div ui-grid="gridOptions" class="myGrid"></div>
    <div dialog title="Main Data" open="openMain" cancel-button="Close" width="1000" height="700" validate="false">
        <h4>things</h4>
    </div>
    <div dialog title="Specialized Data" open="openSpecialized" cancel-button="Close" width="1000" height="700" validate="false">
        <div class="searchInputs">
            <h4 class="title">Specialized Data</h4><br />
            <label for="subreddit">Subreddit</label>
            <input type="text" id="subreddit" name="subreddit" />
            <label for="author">Author</label>
            <input type="text" id="author" name="author" />
            <label for="comment_id">Comment ID</label>
            <input type="text" id="comment_id" name="comment_id" />
            <br />
            <label for="subreddit_id">Subreddit ID</label>
            <input type="text" id="subreddit_id" name="subreddit_id"/>
            <label for="parent_id">Parent ID</label>
            <input type="text" id="parent_id" name="parent_id"/>
            <label for="link_id">Link ID</label>
            <input type="text" id="link_id" name="link_id"/>
            <br />
            <label for="name">Name</label>
            <input type="text" id="name" name="name" />
            <label for="author_flair_text">Author Flair Text</label>
            <input type="text" id="author_flair_text"/>
            <label for="author_flair_class">Author Flair Class</label>
            <input type="text" id="author_flair_class" name="author_flair_class"/>
            <br />
        </div>
    </div>
    <div dialog title="Numerical Data" open="openNumerical" cancel-button="Close" width="1000" height="700" validate="false">
        <div>
            <h4 class="title">Numerical Data</h4><br />
            <label for="retrieved_on">Retrieved On</label>
            <input type="text" id="retrieved_on" name="retrieved_on"/>
            <label for="created_utc">Created UTC</label>
            <input type="text" id="created_utc" name="created_utc"/>
            <br />
            <label for="up_votes">Up-Votes</label>
            <input type="text" id="up_votes" name="up_votes"/>
            <label for="down_votes">Down-Votes</label>
            <input type="text" id="down_votes" name="down_votes" />
            <label for="score">Score</label>
            <input type="text" id="score" name="score"/>
            <br />
            <label for="gilded">Gilded</label>
            <input type="text" id="gilded" name="gilded"/>
            <label for="controvers">Controversiality</label>
            <input type="text" id="controvers" name="controvers"/>
        </div>
    </div>
    <footer></footer>
</body>
</html>