<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Commentator</title>

	<!--Javascript Application Includes-->
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script type="application/javascript" src="ui-grid-3.2.9/ui-grid.min.js"></script>
	<script type="application/javascript" src="javascript/mainScript.js"></script>
    <script type="application/javascript" src="javascript/dialog.js"></script>

	<!--Bootstrap Stuff-->
	<script type="application/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />

	<!--Other styles-->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
	<link rel="styleSheet" href="ui-grid-3.2.9/ui-grid.min.css"/>
	<link rel="stylesheet" href="css/main.css" />
    <!--<base href="/diy_dfeist/" />-->
</head>
<body ng-app="discourse" ng-controller="searchController">
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a disabled="disabled" class="navbar-brand">The Commentator</a>
			</div>
			<ul class="nav navbar-nav">
                <!--<li><a href="#/">Home</a></li>
				<li><a href="#/search">Search</a></li>
				<li><a href="#/about">About</a></li>-->
			</ul>
		</div>
	</div>
    <!--pro hax-->
	<!--<div ng-view></div>-->
    <div class="buttonContainer">
        <!--<button class="btn-primary" ng-click="editMain()">Edit Main Data</button>-->
        <button class="btn-primary" ng-click="editSpecialized()">Edit Specialized Data</button>
        <button class="btn-primary" ng-click="editNumerical()">Edit Numerical Data</button>
        <br />
        <br />
        <button class="btn-success">Search</button>
    </div>

    <br />
    <!--ui-grid shtuff-->
    <div ui-grid="gridOptions" class="myGrid"></div>
    <div dialog title="Main Data" open="openMain" cancel-button="Close" width="1000" height="700" validate="false">
        <h4>things</h4>
    </div>
    <div dialog title="Input" open="openSpecialized" cancel-button="Close" width="1000" height="350" validate="false">
        <h4 class="title">Specialized Data</h4><br />
        <div class="searchInputs">
            <div class="input-group">
                <span class="input-group-addon">Subreddit</span>
                <!--<input id="msg" type="text" class="form-control" name="msg" placeholder="Additional Info">-->
                <input type="text" id="subreddit" class="form-control" name="subreddit" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">Author</span>
                <input type="text" id="author" class="form-control" name="author" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">Comment ID</span>
                <input type="text" id="comment_id" class="form-control" name="comment_id" />
            </div>
        </div>
        <div class="searchInputs">
            <div class="input-group">
                <span class="input-group-addon">Subreddit ID</span>
                <input type="text" id="subreddit_id" class="form-control" name="subreddit_id"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Parent ID</span>
                <input type="text" id="parent_id" class="form-control" name="parent_id"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Link ID</span>
                <input type="text" id="link_id" class="form-control" name="link_id"/>
            </div>
        </div>
        <div class="searchInputs">
            <div class="input-group">
                <span class="input-group-addon">Name</span>
                <input type="text" id="name" class="form-control" name="name" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">Author Flair Text</span>
                <input type="text" id="author_flair_text" class="form-control" name="author_flair_text"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Author Flair Class</span>
                <input type="text" id="author_flair_class" class="form-control" name="author_flair_class"/>
            </div>
        </div>
    </div>
    <div dialog title="Numerical Data" open="openNumerical" cancel-button="Close" width="1000" height="350" validate="false">
        <h4 class="title">Numerical Data</h4><br />
        <div class="searchInputs">
            <div class="input-group">
                <span class="input-group-addon">Retrieved On</span>
                <input type="text" id="retrieved_on" class="form-control" name="retrieved_on"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Created UTC</span>
                <input type="text" id="created_utc" class="form-control" name="created_utc"/>
            </div>
        </div>
        <div class="searchInputs">
            <div class="input-group">
                <span class="input-group-addon">Up-Votes</span>
                <input type="text" id="up_votes" class="form-control" name="up_votes"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Down-Votes</span>
                <input type="text" id="down_votes" class="form-control" name="down_votes" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">Score</span>
                <input type="text" id="score" class="form-control" name="score"/>
            </div>
        </div>
        <div class="searchInputs">
            <div class="input-group">
                <span class="input-group-addon">Gilded</span>
                <input type="text" id="gilded" class="form-control" name="gilded"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Controversiality</span>
                <input type="text" id="controvers" class="form-control" name="controvers"/>
            </div>
        </div>
    </div>
    <footer></footer>
</body>
</html>