
<!--ui-grid shtuff-->
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Search all Things</span>
        </md-card-title-text>
    </md-card-title>
    <span layout="row">
        <md-button class="md-raised param-button" ng-click="openParametersDialog($event)">Search Parameters</md-button>
        <md-button class="md-raised param-button" ng-click="openTagDialog($event)">Enter Tag</md-button>
        <span ng-show="loading"><b>LOADING...</b></span>
    </span>

    <br />
    <md-button class="md-raised param-button md-primary" ng-click="firstSearch()">Search</md-button>
    <md-button class="md-raised param-button md-primary" ng-click="search()">Get More</md-button>
    <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="myGrid"></div>
</md-card>
