
<div>
	<div class="searchInputs">
        <h3 class="title">Search Inputs</h3><br />
        <label for="subreddit">Subreddit</label>
        <input type="text" id="subreddit" name="subreddit" />
        <label for="author">Author</label>
        <input type="text" id="author" name="author" />
        <label for="comment_id">Comment ID</label>
        <input type="text" id="comment_id" name="comment_id" />
        <br />
        <label for="subreddit_id">Subreddit ID</label>
        <input type="text" id="subreddit_id" name="subreddit_id"/>
        <label for="parent_id">Parent ID</label>
        <input type="text" id="parent_id" name="parent_id"/>
        <label for="link_id">Link ID</label>
        <input type="text" id="link_id" name="link_id"/>
        <br />

    </div>
</div>