<md-dialog class="md-default-theme input-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Parameters</h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content class="input-holder">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Main">
                <md-content class="md-padding" layout="row">
                    <div class="radioGroup">
                        <p>Edited:</p>
                        <md-radio-group name="edited" ng-model="params.main_data.edited" layout="row">
                            <md-radio-button value="yes">Yes</md-radio-button>
                            <md-radio-button value="no">No</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="radioGroup">
                        <p>Archived:</p>
                        <md-radio-group name="edited" ng-model="params.main_data.archived" layout="row">
                            <md-radio-button value="yes">Yes</md-radio-button>
                            <md-radio-button value="no">No</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="radioGroup">
                        <p>Distinguished:</p>
                        <md-radio-group name="edited" ng-model="params.main_data.distinguished" layout="row">
                            <md-radio-button value="yes">Yes</md-radio-button>
                            <md-radio-button value="no">No</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="radioGroup">
                        <p>Score Hidden:</p>
                        <md-radio-group name="edited" ng-model="params.main_data.score_hidden" layout="row">
                            <md-radio-button value="yes">Yes</md-radio-button>
                            <md-radio-button value="no">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </md-content>
                <md-divider></md-divider>
                <br />
                <md-divider></md-divider>
                <!--magic goes here-->
                <md-content layout="row">
                    <span class="keywords-list">
                        <div ng-repeat="x in params.main_data.string_params track by $index" class="dynamic-input">
                            <md-checkbox class="md-inline" ng-true-value="true" ng-false-value="false" ng-model="x.not">Not</md-checkbox>
                            <md-input-container class="md-inline keyword-container">
                                <label>Keyword</label>
                                <input type="text" name="keyword" ng-model="x.keyword" />
                            </md-input-container>
                            <md-input-container class="md-inline type-container">
                                <label>Type</label>
                                <md-select ng-model="x.type">
                                    <md-option ng-value="'keyword'">Keyword</md-option>
                                    <md-option ng-value="'Substring'">Substring</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="keyword-buttons">
                            <md-button class="md-raised md-primary" ng-click="addKeyword()">Add Field</md-button>
                            <md-button class="md-raised md-warn" ng-click="removeKeyword()">Remove Field</md-button>
                        </div>
                    </span>
                    <span class="keywords-list">
                        <div ng-repeat="x in params.main_data.num_params track by $index" class="dynamic-input">
                            <md-input-container class="md-inline type-container">
                                <label>Operator</label>
                                <md-select ng-model="x.operator">
                                    <md-option ng-value="'>'">&gt;</md-option>
                                    <md-option ng-value="'<'">&lt;</md-option>
                                    <md-option ng-value="'='">=</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-inline keyword-container">
                                <label>Number</label>
                                <input type="text" name="number" ng-model="x.number" />
                            </md-input-container>
                            <md-input-container class="md-inline type-container">
                                <label>Type</label>
                                <md-select ng-model="x.type">
                                    <md-option ng-value="'Word Count'">Word Count</md-option>
                                    <md-option ng-value="'Sentence Count'">Sentence Count</md-option>
                                    <md-option ng-value="'LIX'">LIX</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="keyword-buttons">
                            <md-button class="md-raised md-primary" ng-click="addLimit()">Add Field</md-button>
                            <md-button class="md-raised md-warn" ng-click="removeLimit()">Remove Field</md-button>
                        </div>
                    </span>
                </md-content>
                <md-divider></md-divider>
            </md-tab>
            <md-tab label="Numerical">
                <md-content class="md-padding">
                    <div class="searchInputs">
                        <!--<md-input-container class="md-inline text-input-container">
                            <label>Retrieved On</label>
                            <input type="text" name="retrieved_on" ng-model="params.numerical_data.retrieved_on" />
                        </md-input-container>-->
                        <label>Retrieved On</label>
                        <md-datepicker ng-model="params.numerical_data.retrieved_on" md-placeholder="Retrieved On"></md-datepicker>
                        <!--<md-input-container class="md-inline text-input-container">
                            <label>Created UTC</label>
                            <input type="text" name="created_utc" ng-model="params.numerical_data.created_utc" />
                        </md-input-container>-->
                        <label>Created UTC</label>
                        <md-datepicker ng-model="params.numerical_data.created_utc" md-placeholder="Created UTC"></md-datepicker>
                    </div>
                    <div class="searchInputs">
                        <md-input-container class="md-inline text-input-container">
                            <label>Up-Votes</label>
                            <input name="up_votes" ng-model="params.numerical_data.up_votes" type="number"/>
                        </md-input-container>
                        <md-input-container class="md-inline text-input-container">
                            <label>Down-Votes</label>
                            <input name="down_votes" ng-model="params.numerical_data.down_votes" type="number" />
                        </md-input-container>
                        <md-input-container class="md-inline text-input-container">
                            <label>Score</label>
                            <input name="score" ng-model="params.numerical_data.score" type="number" />
                        </md-input-container>
                    </div>
                    <div class="searchInputs">
                        <md-input-container class="md-inline text-input-container">
                            <label>Gilded</label>
                            <input type="text" name="gilded" ng-model="params.numerical_data.gilded" type="number" />
                        </md-input-container>
                        <md-input-container class="md-inline text-input-container">
                            <label>Controversiality</label>
                            <input type="text" name="controversiality" ng-model="params.numerical_data.controversiality"  type="number" />
                        </md-input-container>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Specialized">
                <md-content class="md-padding">
                    <div class="searchInputs">
                        <md-input-container class="md-inline text-input-container">
                            <label>Subreddit</label>
                            <input type="text" name="subreddit" ng-model="params.special_data.subreddit" />
                        </md-input-container>
                        <md-input-container class="md-inline text-input-container">
                            <label>Author</label>
                            <input type="text" name="author" ng-model="params.special_data.author" />
                        </md-input-container>
                        <md-input-container class="md-inline text-input-container">
                            <label>Comment ID</label>
                            <input type="text" name="comment_id" ng-model="params.special_data.comment_id" />
                        </md-input-container>
                    </div>
                    <div class="searchInputs">
                        <md-input-container class="md-inline text-input-container">
                            <label>Subreddit ID</label>
                            <input type="text" name="subreddit_id" ng-model="params.special_data.subreddit_id" />
                        </md-input-container>
                        <md-input-container class="md-inline text-input-container">
                            <label>Parent ID</label>
                            <input type="text" name="parent_id" ng-model="params.special_data.parent_id" />
                        </md-input-container>
                        <md-input-container class="md-inline text-input-container">
                            <label>Link ID</label>
                            <input type="text" name="link_id" ng-model="params.special_data.link_id" />
                        </md-input-container>
                    </div>
                    <div class="searchInputs">
                        <md-input-container class="md-inline text-input-container">
                            <label>Name</label>
                            <input type="text" name="name" ng-model="params.special_data.name" />
                        </md-input-container>
                        <md-input-container class="md-inline text-input-container">
                            <label>Author Flair Text</label>
                            <input type="text" name="author_flair_text" ng-model="params.special_data.author_flair_text" />
                        </md-input-container>
                        <md-input-container class="md-inline text-input-container">
                            <label>Author Flair Class</label>
                            <input type="text" name="author_flair_class" ng-model="params.special_data.author_flair_class" />
                        </md-input-container>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">

        <md-button ng-click="cancel()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>