<md-dialog class="md-default-theme insert-tag-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Tag</h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content class="input-holder">
        <md-content class="md-padding" layout="row">
            <div class="searchInputs">
                <md-input-container class="md-inline tag-input">
                    <label>Name</label>
                    <input type="text" ng-model="new_tag_name" />
                </md-input-container>

                <md-input-container>
                    <label>Tag</label>
                    <md-select ng-model="selected_tag">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="t in tags track by t.id" ng-value="t">{{t.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="insertTag($event)" class="md-primary">
            Insert
        </md-button>
        <md-button ng-click="cancel()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>