<md-dialog class="md-default-theme insert-tag-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Parameters</h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content class="input-holder">
        <md-content class="md-padding" layout="row">
            <div class="searchInputs">
                <md-input-container class="md-inline text-input-container">
                    <label>Keyword</label>
                    <input type="text" name="subreddit" ng-model="tag.keywords" />
                </md-input-container>
                <md-input-container class="md-inline text-input-container">
                    <label>Author</label>
                    <input type="text" name="author" ng-model="params.special_data.author" />
                </md-input-container>
                <md-input-container class="md-inline text-input-container">
                    <label>Comment ID</label>
                    <input type="text" name="comment_id" ng-model="params.special_data.comment_id" />
                </md-input-container>
            </div>
        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button class="md-primary">
            Insert
        </md-button>
        <md-button ng-click="cancel()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>