<h4 class="title">Specialized Data</h4><br />
<div class="searchInputs">
    <div class="input-group">
        <span class="input-group-addon">Subreddit</span>
        <!--<input id="msg" type="text" class="form-control" name="msg" placeholder="Additional Info">-->
        <input type="text" id="subreddit" class="form-control" name="subreddit" />
    </div>
    <div class="input-group">
        <span class="input-group-addon">Author</span>
        <input type="text" id="author" class="form-control" name="author" />
    </div>
    <div class="input-group">
        <span class="input-group-addon">Comment ID</span>
        <input type="text" id="comment_id" class="form-control" name="comment_id" />
    </div>
</div>
<div class="searchInputs">
    <div class="input-group">
        <span class="input-group-addon">Subreddit ID</span>
        <input type="text" id="subreddit_id" class="form-control" name="subreddit_id"/>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Parent ID</span>
        <input type="text" id="parent_id" class="form-control" name="parent_id"/>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Link ID</span>
        <input type="text" id="link_id" class="form-control" name="link_id"/>
    </div>
</div>
<div class="searchInputs">
    <div class="input-group">
        <span class="input-group-addon">Name</span>
        <input type="text" id="name" class="form-control" name="name" />
    </div>
    <div class="input-group">
        <span class="input-group-addon">Author Flair Text</span>
        <input type="text" id="author_flair_text" class="form-control" name="author_flair_text"/>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Author Flair Class</span>
        <input type="text" id="author_flair_class" class="form-control" name="author_flair_class"/>
    </div>
</div>